.offers {
  width: 65%;
  height: 60vh;
  margin: auto;
  padding: 0px 140px;
  margin-bottom: 150px;
  display: flex;
  background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
}

/* LEFT SIDE */
.offers-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.offers-left h1 {
  color: #171717;
  font-size: 80px;
  font-weight: 600;
}

.offers-left p {
  color: #171717;
  font-size: 22px;
  font-weight: 600;
}

/* BUTTON */
.offers-left button {
  width: 282px;
  height: 70px;
  border-radius: 35px;
  background: #ff4141;
  border: none;
  color: white;
  font-size: 22px;
  font-weight: 500;
  margin-top: 30px;
  cursor: pointer;
}

/* RIGHT SIDE */
.offers-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 50px;
}

.offers-right img {
  width: 320px;
}

/* ================= 1080px ================= */
@media (max-width: 1080px) {
  .offers {
    width: 75%;
    padding: 0 100px;
  }

  .offers-left h1 {
    font-size: 70px;
  }
}

/* ================= 1024px ================= */
@media (max-width: 1024px) {
  .offers {
    width: 85%;
    padding: 0 80px;
    height: auto;
  }

  .offers-left h1 {
    font-size: 60px;
  }

  .offers-right img {
    width: 280px;
  }
}

/* ================= 800px ================= */
@media (max-width: 800px) {
  .offers {
    flex-direction: column;
    padding: 60px 40px;
    gap: 40px;
    text-align: center;
  }

  .offers-left {
    align-items: center;
  }

  .offers-left h1 {
    font-size: 48px;
  }

  .offers-left button {
    width: 240px;
    height: 60px;
    font-size: 20px;
  }

  .offers-right {
    justify-content: center;
    padding-top: 0;
  }

  .offers-right img {
    width: 260px;
  }
}

/* ================= 500px ================= */
@media (max-width: 500px) {
  .offers {
    width: 95%;
    padding: 40px 20px;
    margin-bottom: 80px;
  }

  .offers-left h1 {
    font-size: 34px;
  }

  .offers-left p {
    font-size: 18px;
  }

  .offers-left button {
    width: 200px;
    height: 55px;
    font-size: 18px;
  }

  .offers-right img {
    width: 220px;
  }
}
