.navbar {
  display: flex;
  justify-content: space-around;
  padding: 16px;
  box-shadow: 0 1px 3px -2px black;
  align-items: center;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo p {
  font-size: 38px;
  font-weight: 600;
  color: #171717;
}
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none ;
  gap: 30px;
  color: #626262;
  font-size: 20px;
    font-weight: 500;
}

.nav-menu li {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 3px ;
cursor: pointer;
 position: relative;
}




.nav hr {
  width: 80%;
  height: 3px;              /* IMPORTANT */
  border: none;
  background-color: #ff4141;
  border-radius: 10px;
  position: absolute;       /* IMPORTANT */
  bottom: 0;                /* moves it up */
  left: 10%;
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 45px;
}
.nav-login-cart button {
  width: 157px;
  height: 58px;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 75px;
  color: #515151;
  font-size: 20px;
  font-weight: 500;
  background: white;
  cursor: pointer;
}
.nav-login-cart button:active {
  background: #f3f3f3;
}

.nav-cart-wrapper {
  position: relative;
  display: inline-block;
}

.nav-cart-count {
  position: absolute;
  top: -6px;
  right: -6px;
  min-width: 20px;
  height: 20px;
  padding: 0 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  font-size: 12px;
  background: red;
  color: white;
  font-weight: 600;
  box-shadow: 0 0 0 2px white;
}   
.nav-dropdown {
  display: none;
 
}
@media(max-width: 1280px) {
  .nav-menu{
    gap: 30px;
    font-size: 16px;
}

.nav-login-cart{
    gap: 30px;
}

.nav-login-cart button{
    width: 120px;
    height: 45px;
    font-size: 16px;
}

.nav-cart-count{
    margin-left: -40px;
    font-size: 12px;
}

}

@media(max-width: 800px) {
  .navbar {
   padding: 10px 0px;
  }

  .nav-dropdown {
    display: block;
    width: 30px;
    rotate: -90deg;
    transition: 0.5s;
  }
  .nav-menu
  {
    display: none;
    height: 80px;
    position: absolute;
    background-color:white ;
    justify-content: center;
    top:50px;

  }
  .nav-menu-visible{
    display: flex;
  
  }
  .nav-dropdown.open{
  
    transform: rotate(90deg);
  }

}
@media(max-width: 500px) {
  .navbar{
    width: 8px 0px;
    gap: 0px;    
  }
.nav-logo{
    transform: scale(0,8);
  }
  .nav-menu{
    top: 40px;
    height: 70px;
  }
  .nav-login-cart button{
   
    transform: scale(0.8);

  }

}