/* .hero{
    height: 100vh;
    background: linear-gradient(180deg, #fed1ff,#e1ffea22 60%);
    display: flex;

}

.hero-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}

 .hero-left h2{
    font-size: 26px;
    font-weight: 700;
    color: #090909;
 }

 .hero-left p{
    font-size: 100px;
    color: #333333;
    font-size: 100px; 

    font-weight: 900;
 }
 .hero-hand-icon{
    align-items: center;
    display: flex;
    gap: 20px;
 }

 .hero-hand-icon img{
    width: 100px;
   
 }

.hero-letest-btn   
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500;

}

.hero-right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.hero {
  height: 100vh;
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
  display: flex;
  align-items: center;
  padding: 0 120px;
  gap: 50px;
}

/* LEFT SIDE */
.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hero-left h2 {
  color: #090909;
  font-size: 18px;
  font-weight: 600;
}

.hero-hand-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero-hand-icon p {
  font-size: 64px;
  font-weight: 700;
  color: #171717;
}

.hero-hand-icon img {
  width: 60px;
}

.hero-left > p {
  font-size: 64px;
  font-weight: 700;
  color: #171717;
  line-height: 1.1;
}

/* BUTTON */
.hero-letest-btn {
  margin-top: 30px;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 16px 28px;
  border-radius: 50px;
  background: #ff4141;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.hero-letest-btn img {
  width: 18px;
}

/* RIGHT SIDE */
.hero-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.hero-right img {
  width: 420px;
}

@media (max-width: 1080px) {
  .hero-left{
    padding-left: 0;
  }
  .hero-left  h2{
    font-size: 22px;
  }
  .hero-left > p{
    font-size: 60px;
  }
  .hero-hand-icon img{

    width: 80px;

  }
  .hero-letest-btn{
  gap: 10px;
  height: 60px;
  width: 250px;
  font-size: 18px;
  }

  .hero-right img{
    width: 500px;
  }

}


@media (max-width: 1024px) {
  .hero-left{
    padding-left: 80;
  }
  .hero-left  h2{
    font-size: 20px;
  }
  .hero-left > p{
    font-size: 50px;
  }
  .hero-hand-icon img{

    width: 65px;

  }
  .hero-letest-btn{
 
  height: 50px;
  width: 220px;
  font-size: 16px;
  }

  .hero-right img{
    width: 500px;
  }
  
}

@media (max-width: 800px) {
  .hero-left{
    padding-left: 30;
  }
  .hero-left  h2{
    font-size: 16px;
  }
  .hero-left > p{
    font-size: 40px;
  }
  .hero-hand-icon img{

    width: 50px;

  }
  .hero-letest-btn{
 
  height: 40px;
  width: 175px;
  font-size: 13px;
  }

  .hero-right img{
    width: 300px;
  }
  
}

@media (max-width: 500px) {
  .hero {
    flex-direction: column;
    padding: 40px 20px;
    gap: 30px;
    justify-content: center;
  }
  .hero-right {
  display: none;
  }
  .hero-left > h2{
    font-size: 18px;
    
  }
  .hero-left > p{
    font-size: 50px;
  }
  .hero-hand-icon img{

    width: 55px;

  }
  .hero-letest-btn{
  height: 45px;
  width: 200px;
  font-size: 14px;
  }
  
}
